*
!conf/conf.properties
!conf/discovery.properties
!conf/ethernet-ouis.properties
!conf/fing.properties
!conf/hosts.properties
!conf/ip-services.properties
!conf/kit.properties
!conf/timezones.csv
!project/build.properties
!project/plugins.sbt
!src
!build.sbt
