*
.*
!run.sh
!conf/conf.properties
!conf/discovery.properties
!conf/ethernet-ouis.properties
!conf/fing.properties
!conf/hosts.properties
!conf/ip-services.properties
!conf/kit.properties
!conf/timezones.csv
!requirements.txt
!reporter.py